.container{
    text-align: center;
    padding: 30px;
}

table{
    text-align: left;
}

.todoicon{
    height:25px;
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
}