.image-containter{
    display: flex;
    overflow: hidden;
    background-image: url("../../assets/images/login-buisness.jpg");
    background-position: center;
}

.shadow-left{
    -webkit-box-shadow: -30px 0px 40px 10px rgba(30,40,50,0.75); 
    box-shadow: -30px 0px 40px 10px rgba(30,40,50,0.75);
}

h1{
    font-size: 260%;
}