<div class="container">
  <h1>Login</h1>

  <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Username" [(ngModel)]="username">
    </div>

    <div>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password">
    </div>

    <button (click)=hanleLogin() class="btn btn-primary">Login</button>
  </div>
</div>