<!-- <div class="h-4rem">
    <div class="flex align-items-stretch h-full col-12 p-1">
        <div class="m-2">
            <a routerLink="/welcome"><img src="../../assets/images/logo.jpg" class="h-full"></a>
        </div>
        <div class="flex align-items-stretch ml-auto">
            <div class="font-semibold flex align-items-center m-2">
                <p class="">{{authService.getLoggedInUser()}}</p>
            </div>
            <div class="border-circle m-2">
                <img src="../../assets/images/user_icon.png" class="h-full">
            </div>
        </div>
    </div>
</div>
<div class="menu-shadow">
    <p-tabMenu [model]="items" class="p-0 m-0"></p-tabMenu>
</div> -->

<div>
    <p-menubar [model]="topItems">
        <ng-template pTemplate="start">
            <a routerLink="/welcome"><img src="../../assets/images/logo.jpg" class="h-2rem m-1"></a>
        </ng-template></p-menubar>
    <p-tabMenu [model]="bottomItems"></p-tabMenu>
</div>
